a{
	text-decoration: none;
}
p{
	font-family: 'Playfair Display', serif;
}
h2{
	font-family: 'Playfair Display', serif;
}
h5{
	font-family: 'Playfair Display', serif;
}
#header{
	background-image: url(images/jpgs/medical_back_1.jpg);
	height: 240px;
	padding-bottom: 10px;
	border-radius: 0 0 30px 30px;
}
.header_img_logo{
	float: left;
	padding-top: 25px;
}
.header_text_logo{
	padding-top: 5px;
	color: #08cc1f;
	font-size: 28px;
	float: left;
	padding-left: 17px;
	padding-right: 250px;
}
.offcanvas-body{
	height: 800px;
}
.header_text_top{
	font-family: normal;
	font-size: 16px;
}
.header_text_top a{
	padding-right: 25px;
	padding-left: 20px;
	text-decoration: none;
}
.header_text_top a:hover{
	color: red;
}
.header_text_top button{
	border: none;
	background-color: white;
	text-decoration: none;
	color: RoyalBlue;
}
.header_text_top button:hover{
	background-color: RoyalBlue;
	color: white;
}
.nav-item{
	padding-right: 20px;
	font-size: 25px;
}
.nav-link:hover{
	text-decoration: underline;
}
#footer_1{
	border-radius: 20px 20px 0 0;
	background-color: #E9E9E9;
}
.footer_texts_1{
	font-size: 20px;
}
.footer_texts_1 p{
	font-family: normal;
}
.footer_texts_1 a{
	text-decoration: none;
}
.footer_texts_2{
	font-size: 20px;
}
.footer_texts_2 p{
	padding-left: 10px;
}
.socnet{
	font-size: 25px;
	padding-right: 10px;
	color: #353535;
}

/*Here is paragraph_1 css: */
#paragraph_1{
	padding-top: 30px;
}
.carousel-caption h3{
	color: white;
}
.carousel-caption p{
	color: white;
	font-family: normal;
}
iframe{
	border-radius: 10px;
}
.carousel-inner img{
	border-radius: 10px;
}
.paragraph_1_heading{
	color: #08cc1f;
	padding-top: 10px;
	padding-bottom: 40px;
}

/*Here is paragraph_1_5 css: */
#paragraph_1_5{
	padding-top: 80px;
}
.paragraph_1_5_item{
	box-shadow: 0px 0px 15px 1px #000;
	border-radius: 20px;
	background-color: #C7E0FF;
}
.paragraph_1_5_item h4{
	padding-top: 20px;
	padding-bottom: 10px;
}
.paragraph_1_5_item h5{
	padding-bottom: 10px;
}
.paragraph_1_5_heads{
	padding-left: 10px;
	padding-bottom: 20px;
	color: white;
	font-size: 20px;
}
.paragraph_1_5_timetable{
	padding-bottom: 10px;
	color: red;
	font-size: 25px;
}
.paragraph_1_5_time{
	font-size: 15px;
	padding-bottom: 20px;
}


/*Here is paragraph_3 css: */
#paragraph_3{
	padding-top: 80px;
	padding-bottom: 90px;
}
.paragraph_3_heading{
	color: #08cc1f;
	padding-bottom: 80px;
}
.paragraph_3_certificate{
	display: flex;
	justify-content: space-between;
}
.paragraph_3_down_button{
	padding-right:  100px;
}
.paragraph_3_cert_desc{
	font-size: 25px;
	font-family: 'Playfair Display', serif;
}
.paragraph_3_btn {
  	background-color: DodgerBlue;
  	border-radius: 20px;
  	border: none;
  	color: white;
  	padding: 12px 30px;
  	font-size: 16px;
  	cursor: pointer;
  	font-size: 10px;
}
.paragraph_3_btn:hover {
  	background-color: RoyalBlue;
}
































